<script src="https://kit.fontawesome.com/0b71944e24.js" crossorigin="anonymous"></script>
<aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      <li>
        <a href="index.html"><i class="fa-solid fa-house"></i><span>ホーム</span></a>
      </li>
      <li class="sub-menu">
        <a href="javascript:void(0);"><i class="fa-solid fa-hashtag"></i><span>話題を検索</span></a>

      </li>
      <li class="sub-menu">
        <a href="javascript:void(0);"><i class="fa-solid fa-bell"></i><span>通知</span></a>

      </li>
      <li class="sub-menu">
        <a href="javascript:void(0);"><i class="fa-solid fa-envelope"></i><span>メッセージ</span></a>

      </li>
      <li class="sub-menu active">
        <a href="javascript:void(0);"><i class="fa-regular fa-bookmark"></i><span>ブックマーク</span></a>

      </li>
      <li class="sub-menu">
        <a href="javascript:void(0);"><i class="fa-regular fa-rectangle-list"></i><span>リスト</span></a>

      </li>
      <li class="sub-menu">
        <a href="javascript:void(0);"><i class="fa-regular fa-circle-user"></i><span>プロフィール</span></a>
      </li>
      <li class="sub-menu">
        <a href="typography.html"><i class="fa-solid fa-ellipsis"></i><span>もっと見る</span></a>
        
        
      </li>
      <li class="btn_tweet">
        <button type="submit" class="tweet">ツイートする</button>   
      </li>
  </div>
</aside>

<style>

.sidebar{
    display:flex;
    margin:10%;
    padding-right:-5%;
    
}
.nano-content{
    list-style: none;
    line-height:2.8em;
}
a:link, a:visited, a:hover, a:active {
    color: black;
    font-size:1.3em;
    
}

.tweet{
    margin-top:1em;
    border-radius: 1.5em;
    background: #1DA1F2;
    color: white;
    text-decoration: none;
    text-align: center;
    border:solid 5px #1DA1F2;
    
    font-size:1em;
    width:12vw;
    height:6vh;
}

span{
    margin-left:0.5em;
}
</style>

<!--参考先: https://deshinon.com/2019/03/03/rist-tatemenu-css/-->


<!--Hex：#1DA1F2-->
<!--RGB: (29, 161, 242)-->
<!--cmyk: 0.880, 0.334, 0, 0.050-->
        <!--<ul>-->

        <!--  <li><a href="ui-alerts-notifications.html">Alerts &amp; Notifications</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-panels.html">Panels</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-buttons.html">Buttons</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-slider-progress.html">Sliders &amp; Progress</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-modals-popups.html">Modals &amp; Popups</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-icons.html">Icons</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-grid.html">Grid</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a>-->
        <!--  </li>-->
        <!--  <li><a href="ui-nestable-list.html">Nestable Lists</a>-->
        <!--  </li>-->
        <!--</ul>-->